{% extends "MovieApp/movieapp_base.html" %}

{% load staticfiles %}

{% block content %}
<div style="text-align: center;">
    <h2>Users</h2>
</div>





<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  {% for u in user %}
    <tr>
        <th scope="row">{{u.id}}</th>
        <td><a href="{% url 'movieapp_details' u.id %}"> {{u.first_name | title}} {{u.last_name | title}}</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
<!--
<table>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for u in user %}
            <tr>
                <td>{{u.first_name}} {{u.last_name}}</td>
                <td>{{u.email}}</td>
            </tr>
        {% endfor %}
    </table>
-->