{% extends "CocktailRecipesApp/CocktailRecipes_Base.html" %}

{% load static %}

{% block content %}



<div class="addRecipeCard card">
    <div class="card-body addRecipeBody">
        <h3 class="addHeader">Add Your Cocktail</h3>
        <form action="{% url 'CocktailRecipesCreate' %}" method="POST">
            {% csrf_token %}
            <table class="cocktailForm">
                {{ form }}
            </table>
            <input class="submitButton" type="submit" value="Submit">
        </form>
    </div>
</div>




{% endblock %}















