.Festival_img {
    font-family: Lucida Sans Unicode;
	text-align: center;
    background-image: url('/static/images/seattle_skyline.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;
}
.Festival_card {
    padding-top: 25px;
}

/*Nav Bar*/
.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}
nav.nav-wrapper ul li a {
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s;
}
nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid black;
}
.logo img {
  max-width: 65px;
}

/*Review Form*/
label {
  width: 130px;
  margin-left: 50px;
  font-weight: bold;
  opacity: initial;
  text-align: left;
}
input, select {
  width: 250px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0px 6px 0px;
  resize: vertical;
  text-align: left;
}
textarea {
  width: 400px;
  margin: 10px 0px 10px 0px;
  resize: vertical;
}
#save_review {
 margin-top: 16px;
}
.fest_review_form{
  background-color: #f2f2f2;
  padding: 20px;

/*label {
  float: left;
  width: 25%;
  margin-top: 6px;
}
input {
  float: left;
  width: 75%;
  margin-top: 6px;
}
@media screen and (max-width: 600px) {
  input, label, submit {
    width: 100%
    margin-top: 0;
  }
}*/

/* Stars rating on review_index html page */
/*.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}*/
/* outer star unicode */
/*.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}*/
/*.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}*/
/* inner star unicode */
/*.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}*/

/* Pagination page nums */
.active {
    color: #FFFFFF;
}





