{% extends 'PupApp/PupApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
        <p>Register your pup here!</p>
    <div class="flex-container">
        <form method="post">
            {% csrf_token %}
            <table class="table-edit">
                {{ form.as_table }}
            </table>
            {{ form.non_field_errors }}
            <button class="btn" type="submit">Add to Pup List</button>

        <button class="btn" type="button" onclick=" location.href='{% url 'createPup' %}'">Clear Form</button>
        </form>
    </div>
</section>
{% endblock %}