{% extends 'PupApp/PupApp_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
        <p>Register your name here!</p>
    <div class="flex-container">
        <form method="post">
            {% csrf_token %}
            <table class="table-edit">
                {{ ownerform.as_table }}
            </table>
                {{ ownerform.non_field_errors }}
            <button class="btn" type="submit">Click to Register Owner</button>

        <button class="btn" type="button" onclick=" location.href='{% url 'createOwner' %}'">Clear Form</button>
        </form>
    </div>
</section>
{% endblock %}