{% extends 'FestivalApp/FestivalApp_base.html' %}
{% load static %}

{% block title %} Festival Review {% endblock %}

{% block content %}
<div class="container center_div">
    <h3 class="text-white bg-dark rounded p-1">Create A New Festival Review:</h3>
    <form method="POST" class="fest_review_form">
        {% csrf_token %}
        <table class="row justify-content-center">
            {{ form.as_table }}
        </table>
        <div class="row mt-3">
            <div class="col justify-content-center">
                <button class="btn btn-primary" type="submit"><strong>Submit</strong></button>
            </div>
        </div>
    </form>
    <div class="col bg-light p-2 justify-content-center">
        <a href="{% url 'FestivalApp:festival_home' %}"><button class="btn btn-danger" type="submit"><strong>Cancel</strong></button></a>
        {% if messages %}
        <p class="messages">
            {% for message in messages %}
            <h3 class="text-dark p-1" class="{{ message.tags }}">{{ message }}</h3>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}