{% extends "RickAndMorty/RickAndMorty_base.html" %}
{% block title %} Oops! {% endblock %}
{% block page-title %} Oops {% endblock %}
{% block button1 %}<br><br><a href=" {% url 'rick_index' %}"><button class="button" type="submit"><strong>Index</strong></button></a>{% endblock %}
{% block button2 %}<a href="{% url 'add_character' %}"><button class="button" type="submit"><strong>Add</strong></button></a>{% endblock %}
{% block button3 %}<a href="{% url 'api_search' %}"><button class="button" type="submit"><strong>Search</strong></button></a>{% endblock %}
{% block button4 %}<a href="{% url 'bios' %}"><button class="button" type="submit"><strong>Bios</strong></button></a>{% endblock %}
{% block appcontent %}
<div class="content">
    <div class="base_form">
        <a href="{% url 'api_search' %}"><button class="button"><strong>Back To Search</strong></button></a>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../static/images/oops.png" alt="image not found">
        </div>
        <div class="card">
            <div class="card-header">OOPS!</div>
            <div class="card-body text-dark">
                <h1 class="card-text">No entries Found!</h1>
                <br>
                <h1 class="cart-text">Please try another name, for Rick's sake!</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}