{% extends 'NflApp/NflApp_base.html' %}

{% block title %}NFL{% endblock %}

{% block header %}Delete Player Profile{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h2>Confirm Delete</h2>
          <p> Are you sure you want to delete {{ player.name }} ?</p>

      </div>
      <div class="modal-footer">
        <a href="{% url 'NflApp_index' %}"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--This works-->
<!--<form action="." method="POST">-->
<!--    {% csrf_token %}-->
<!--    <h2>Confirm Delete</h2>-->
<!--    <p> Are you sure you want to delete {{ player.name }} ?</p>-->

<!--    <input type="submit" value="Yes, delete it." class="btn">-->
<!--    <a href="{% url 'NflApp_index' %}"><button type="button" class="btn">Cancel</button></a>-->

<!--</form>-->






