{% extends 'ApproachApp/Base.html' %}
{% load static %}

<!-- First title but title may change in the future -->
{% block title %}Approach App{% endblock %}

{% block header %}{% for t in trip %} {{ t.trip_name }} {% endfor %}{% endblock %}

{% block body %}

<div class="Home-slideshow">
    <img src="{% static 'images/LonePeak_cirque.jpg' %}" alt="lone peak cirque">
</div>

<div id="Create-Form">
    <form method="POST">
		{% csrf_token %}
        {{ form.as_p }}



        <a href=""><button class="btn draw-border" type="button">edit</button></a>
        <a href=""><button class="btn draw-border" type="button">delete</button></a>
    </form>
</div>



{% endblock %}