
* {
    margin: 0;
}

.bg_img {
    background-image: url('/static/images/pic_to_invest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
	padding: 0;
}

.title {
    color: #0b0bf5e3;
    padding: 100px 16px;
    text-align: center;
}



