{% extends 'Acu_Insurance/Acu_Insurance_base.html' %}

{% block title %}Acupuncturists Taking Insurance{% endblock %}

{% block header %}THIS IS THA ADD PAGE{% endblock %}

{% block content %}

<h3>Add an Acupuncturist</h3>
<div class="add_form">
    <form name="AcuForm" method="post" action="{% url 'add' %}">
        <table class="Acu_table"></table>
                {% csrf_token %}
                {{ form.as_table }}
        <button type="submit">submit</button>

    </form>
</div>



{% endblock %}