.logo {
    padding: 0.5rem;
    margin: 0 0.5rem 0 1rem;
    font-family: bookman;
    background-color: #343a40;
}

.logo:hover {
    background-color: firebrick;
}

.logo-text {
    padding: 1rem 1rem 1rem 0.5rem;
    margin-right: 0;
    font-family: bookman;
}

.logo-text:hover {
    background-color: #1a232b;
}

.sign-up {
    margin: 0.5rem;
    padding: 0.6rem;
    height: 50%;
    width: 11rem;
    text-align: center;
}

.sign-up:hover {
    background-color: firebrick;
}