{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Broswer Tab -->
        <title>Dine-List</title>

        <!-- Map CSS -->
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Local/custom CSS -->
        <link rel="stylesheet" type=text/css href="{% static 'RestaurantApp/css/RestaurantApp_custom.css' %}">

        <!-- jquery needed to launch 'did you mean' modal in PokeDex_home.html -->
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- javascript for map api -->
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    </head>

    <body>
        <div class="entire_page_container">
            <!-- Navbar -->
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand font-weight-bold" href="{% url 'RestaurantHome' %}" style="font-size: 1.5em;">Dine-List</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'RestaurantShow' %}" style="font-size: 1.2em;">MyList</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'RestaurantAdd' %}" style="font-size: 1.05em;">Can't find your favorite restaurant?</a>
                      </li>
                  </ul>
              </div>
            </nav>


    <!-- other html pages -->
        {% block content %}

        {% endblock %}
        </div>

        <!-- Footer -->
        <footer id="footer">
            &copy; 2020 Copyright | <a href="http://haydenstark.github.io/">Hayden Stark</a>
        </footer>
    </body>

    <!-- Bootsrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>