<div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active text-success" href="{% url 'RecipesHome' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="{% url 'recipe_book' %}">Recipe Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="{% url 'new_recipe' %}">New Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="{% url 'recipe_api' %}">Recipe Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="{% url 'nutrition' %}">Nutrition Info</a>
      </li>
    </ul>
</div>