{% extends 'BigfootApp/Bigfoot_Base.html' %}

{% block title %}Sasquatch Spotter{% endblock %}

{% block header %}Report Submitted{% endblock %}

{% block content %}

<br><br><br><br><br><br><br><br>

    <table class="tbl_home">
        <tr>
            <th>
                <h3>Thank you for your submission!</h3>
            </th>
        </tr>
        <tr>
            <th>Every report counts.  Every sighting is both unique and relatable. Whether you reported
                something similar to another report or something we have never seen before, it is valuable
                and we appreciate you for sharing it.
            </th>
        </tr>
    </table>


{% endblock%}