{% extends 'BigfootApp/Bigfoot_Base.html' %}

{% block title %}Sasquatch Spotter{% endblock %}

{% block header %}Welcome to Sasquatch Spotter{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br>

    <table class="tbl_home">
        <tr>
            <th>
                <h3>A place to learn, store, and share information about Sasquatch</h3>
            </th>
        </tr>
        <tr>
            <th>Some people don't believe in Sasquatch, others know it exists.  Either way we encourage you to explore this
                site, read some of the articles, see what other people have said, and if you have seen something yourself,
                make sightings report.
            </th>
        </tr>
    </table>



{% endblock %}
