<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<!--        VIDEO----------------------------->
     <video class="video"  muted controls autoplay loop>
        <source src="../static/images/StockMarketBackground.mp4" type="video/mp4">
    </video>

    <H1 class="header">Welcome to Stock Trader!</H1>

<!--      LINKS OVER TEXT--------------------->
    <div class = "video_overlay">
      <div class="section1">
          <div class="photo_box"> Links coming soon. I am planning to not include my navbar on this page, these blocks will hold an image with links to a different page, the other pages will have a traditional navbar</div>
          <div class="photo_box">Links coming soon</div>
      </div>
    </div>

     <div class = "video_overlay">
      <div class="section2">
          <div class="photo_box"> Links coming soon</div>
          <div class="photo_box"> Links coming soon</div>
      </div>
    </div>

</body>
</html>