{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.marvel.com/" target="_blank">
    <img src="{% static 'MarvelComicsApp/images/marvel-logo.jpg' %}" width="70" height="35" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'MarvelComicsAppHome' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'MarvelComicsAppCreateSubscriber' %}">Join</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'MarvelComicsAppSearch' %}">Search Characters</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'MarvelComicsAppRandom' %}">Random Character</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'MarvelComicsAppSubscriberIndex' %}">Index</a>
      </li>
    </ul>
  </div>
</nav>